<div class="skyrim-layout">
    <div class="menu-header">
      <button mat-icon-button class="menu-btn">
        menu
      </button>
      <span>Menu</span>
    </div>
   <nav class="skyrim-menu">
      <ul>
        <span matLine>Explore</span>
      </ul>
      <div class="recent-title">RECENT</div>
      <ul>
        <span matLine>START A WIKI</span>
      </ul>
      <ul>
        <span matLine>Fan Central</span>
      </ul>
      <ul>
        <span matLine>Video</span>
      </ul>
      <ul>
        <span matLine>Games</span>
      </ul>
      <ul>
        <span matLine>Movies</span>
      </ul>
      <ul>
        <span matLine>Anime</span>
      </ul>
    </nav>
</div>
