<div class="skyrim-layout">
     <nav class="skyrim-menu">
      <ul>
        <a class="navbar-brand" routerLink="/">Skyneo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
            <li class="nav-item">
              <a class="nav-link" routerLink="/users" routerLinkActive="active">Utilisateurs</a>
            </li>
            <!-- Ajoute ici d'autres liens si besoin -->
      </ul>
    </nav>

  <nav class="skyrim-menu">
    <ul>
      <li *ngFor="let menu of menus; let i = index"
          [class.selected]="i === selectedMenuIndex"
          (click)="selectMenu(i)">
        {{ menu.label }}
        <ul *ngIf="i === selectedMenuIndex">
          <li *ngFor="let sub of menu.subItems; let j = index"
              [class.selected]="j === selectedSubmenuIndex"
              (click)="selectSubmenu(j); $event.stopPropagation()">
            {{ sub.label }}
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <main class="skyrim-content">
    <div class="skyrim-frame"
         *ngIf="menus[selectedMenuIndex].subItems?.[selectedSubmenuIndex]"
         [@articleFade]>
      <div class="skyrim-title">
        {{ menus[selectedMenuIndex].subItems?.[selectedSubmenuIndex]?.label || 'Sélectionne un article' }}
      </div>
      <div class="skyrim-message">
        {{ selectedContent }}
      </div>
    </div>
  </main>
</div>
