<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/default.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
             <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
        </layout>
    </appender>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>
	<logger name="org.springframework.web" level="DEBUG"/>
	<logger name="o.s.b" level="DEBUG"/>
    <logger name="org.springframework.boot" level="DEBUG"/>
    <logger name="o.s.core.env" level="INFO"/>
    <logger name="ch.qos.logback" level="INFO"/>
    <logger name="com.ryantenney" level="INFO"/>
    <logger name="com.sun" level="INFO"/>
    <logger name="com.zaxxer" level="DEBUG"/>
    <logger name="io.undertow" level="INFO"/>
    <logger name="io.undertow.websockets.jsr" level="INFO" additivity="false"/>
    <logger name="org.ehcache" level="DEBUG"/>
    <logger name="org.apache" level="DEBUG"/>
    <logger name="org.apache.catalina" level="DEBUG"/>
    <logger name="org.bson" level="INFO" additivity="false"/>
    <logger name="org.thymeleaf" level="INFO" additivity="false"/>
    <logger name="org.xnio" level="INFO" additivity="false"/>
    <logger name="springfox" level="INFO" additivity="false"/>
    <logger name="sun.rmi" level="INFO" additivity="false"/>
    <logger name="sun.rmi.transport" level="INFO" additivity="false"/>
    <logger name="com.sos" level="DEBUG" additivity="false"/>
    <logger name="liquibase" level="DEBUG" additivity="false"/>
    <logger name="javax" level="INFO" additivity="false"/>
    <logger name="javax.annotation" level="INFO" additivity="false"/>
    <logger name="org.hibernate" level="DEBUG" additivity="false"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="INFO" additivity="false"/>
    <logger name="org.hibernate.internal.util.EntityPrinter" level="INFO" additivity="false"/>
    <logger name="org.hibernate.engine.internal.Collections" level="INFO" additivity="false"/>
    <logger name="org.hibernate.engine.internal.TwoPhaseLoad" level="INFO" additivity="false"/>
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false"/>
    <logger name="org.hibernate.type" level="ALL" additivity="false"/>
    <logger name="org.zalando" level="DEBUG" additivity="false"/>
    <logger name="org.springframework" level="INFO" additivity="true"/>
    <logger name="com.sos.obs" level="INFO" additivity="false"/>
    <logger name="org.springframework.boot" level="DEBUG" additivity="false"/>
    <logger name="org.springframework" level="DEBUG" additivity="false"/>
    <logger name="com.sos.obs.decc.security.jwt" level="INFO" additivity="false"/>
    <logger name="com.sos.obs.decc.aop.logging.LoggingAspect" level="INFO" additivity="false"/>
    <logger name="LiquibaseSchemaResolver" level="INFO" additivity="false"/>
    <logger name="com.sos.obs.decc" level="INFO"  additivity="false"/>
    <logger name="com.sos.obs.decc.DashboardAdminApp" level="DEBUG"/>

</configuration>
